@model List<ITSWebMgmt.Models.TableModel>
<h2>Purchase info</h2>
@if (Model.Count > 1)
{
    <h2>Multiple results found! All are listed below</h2>
    @foreach (var table in Model)
    {
        @await Html.PartialAsync("TableView", table)
        <br />
    }
}
else
{
    @await Html.PartialAsync("TableView", Model[0])
}