@model ITSWebMgmt.Models.ComputerModel

<h2>SCCM Info</h2>
@Html.Raw(Model.SCCMCollectionsTable)

<h3>Software Details</h3>
@Html.Raw(Model.SCCMCollecionsSoftware)

<h3>Raw</h3>
@Html.Raw(Model.SCCMInventory)
