@model ITSWebMgmt.Models.ComputerModel

<h2>SCCM Info</h2>
<h3>Computer Details</h3>
@Html.Raw(Model.SCCMCollectionsTable)

<h3>Collections</h3>
@Html.Raw(Model.SCCMComputers)

<h3>Raw data</h3>
@Html.Raw(Model.SCCMCollections)