@model ITSWebMgmt.Models.UserModel

<h2>Computer information</h2>
@if (Model.WindowsComputerTable != null)
{
    <h4>Links to computerinfo can be to computers in the wrong domain, because the domain was not found</h4>
    @await Html.PartialAsync("TableView", Model.WindowsComputerTable)
    @await Html.PartialAsync("TableView", Model.MacComputerTable)
    @if (Model.ØSSComputerTables.Count == 0)
    {
        <h2>ØSS computers</h2>
        <p>No computers found in ØSS</p>
    }
    @foreach (var table in Model.ØSSComputerTables)
    {
        @await Html.PartialAsync("RotatedTableView", table.InfoTable.RotateTable())
        @await Html.PartialAsync("TableView", table.TransactionTable)
    }
}
else
{
    <h3>Service user does not have SCCM access.</h3>
}