@model ITSWebMgmt.Models.UserModel

<h2>Computer information</h2>
@if (Model.WindowsComputerTable != null)
{
    <h4>Links to computerinfo can be to computers in the wrong domain, because the domain was not found</h4>
    @await Html.PartialAsync("TableView", Model.WindowsComputerTable)
    @await Html.PartialAsync("TableView", Model.MacComputerTable)
    <h2>ØSS computers</h2>
    @if (Model.ØSSComputerList != null && Model.ØSSComputerList.Count == 0)
    {
        <p>No computers found in ØSS</p>
    }
    @foreach (var computer in Model.ØSSComputerList)
    {
        string link = "/Computer?computername=" + computer;
        <a href="@link">@computer</a>
        <br />
    }
}
else
{
    <h3>Service user does not have SCCM access.</h3>
}