@model ITSWebMgmt.Models.UserModel
@using ITSWebMgmt.Connectors
<script>
    $("#smloader > div").hide("fast");
</script>
@{
    Model.ServiceManager = await new SCSMConnector().getActiveIncidents(Model.UserPrincipalName, Model.DisplayName);
}

<h2>SCSM Information</h2>
@using (Html.BeginForm("CreateNewIRSR", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DisplayName)
    <input type="submit" value="Create bew IR/SR" />
}
@Html.Raw(Model.ServiceManager)
