@model ITSWebMgmt.Models.UserModel
@using ITSWebMgmt.Connectors
<script>
    $("#smloader > div").hide("fast");
</script>
@{
    SCSMConnector sccm = new SCSMConnector(Model.DisplayName);
    Model.serviceManager = await sccm.getServiceManager(Model.UserPrincipalName);
    Model.SCSMUserID = sccm.userID;
    List<Case> userCases = Model.serviceManager.userCases;
}

<h2>SCSM Information</h2>
@using (Html.BeginForm("CreateNewIRSR", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserPrincipalName)
    @Html.HiddenFor(m => m.SCSMUserID)
    <input type="submit" value="Create new IR/SR" />
}
<br>
<br />
<br />
<a href="https://service.aau.dk/user/UserRelatedInfoById\" + @Model.serviceManager.userID>Service Portal User Info</a>
<br>
<h1>Open Requests</h1>
<br>
<CelledTable Items="userCases" Context="workitem">
    <TableHeader>
        <tr>ID</tr>
        <tr>Title</tr>
        <tr>Status</tr>
        <tr>Last Change</tr>
    </TableHeader>
    <RowTemplate>
    </RowTemplate>
</CelledTable>

