@model ITSWebMgmt.Models.UserModel
@using ITSWebMgmt.Connectors
<script>
    $("#smloader > div").hide("fast");
</script>
@{
    SCSMConnector sccm = new SCSMConnector();

    Model.serviceManager = await sccm.getActiveIncidents(Model.UserPrincipalName);
    Model.SCSMUserID = sccm.userID;
}

<h2>SCSM Information</h2>
@using (Html.BeginForm("CreateNewIRSR", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserPrincipalName)
    @Html.HiddenFor(m => m.SCSMUserID)
    <input type="submit" value="Create new IR/SR" />
}
<br>
<br />
<br />
<a href="https://service.aau.dk/user/UserRelatedInfoById\" + @Model.serviceManager.userID>Service Portal User Info</a>
<br />
<br>

