@model ITSWebMgmt.Models.UserModel
<script>
    $("#smloader > div").hide("fast");
</script>
<h2>Windows 7 to 10 upgrade</h2>
<!-- Information from managerOf computers and logon machines from SCCM -->
@using (Html.BeginForm("CreateWin7UpgradeFormsForUserPCs", "User", FormMethod.Post, new { id = "myForm" }))
{
    @Html.HiddenFor(m => m.UserPrincipalName)
    <input id="computerName" name="computerName" type="hidden" value="test">
    @Html.HiddenFor(m => m.SCSMUserID)
}

<script type="text/javascript">
    function submitform(name) {
        document.getElementById('computerName').value = name;
        document.getElementById("myForm").submit();
    }
</script>

@await Html.PartialAsync("TableView", Model.Windows7to10)
