<h2>Change log</h2>
<ul>
    <li>
        2020-04-03
    <li style="list-style-type:none">
        <ul>
            <li>Added ID to devices in Net.aau.dk tab</li>
            <li>Updated to .NET Core 3.1</li>
        </ul>
    </li>
    <li>
        2020-26-02
    <li style="list-style-type:none">
        <ul>
            <li>Admin password is now colored again</li>
            <li>Fixed crash when failed to get Mac partition info</li>
        </ul>
    </li>
    <li>
        2020-19-02
    <li style="list-style-type:none">
        <ul>
            <li>Fixed crash when user not found in print database</li>
            <li>HTML refactoring for ManagedBy, create work item, tables with links, user basic info, calendar tab, and get password</li>
        </ul>
    </li>
    <li>
        2020-12-02
    <li style="list-style-type:none">
        <ul>
            <li>Insterted Mac group list into table</li>
            <li>Added some vertical spacing in print tab</li>
            <li>Fixed crash when intering tab in search string</li>
            <li>Fixed crash when autocompleating user search if Pure is down</li>
        </ul>
    </li>
    <li>
        2020-03-02
    <li style="list-style-type:none">
        <ul>
            <li>Fixed Mac software tab</li>
            <li>Removed unused code from project</li>
        </ul>
    </li>
    <li>
        2020-01-31
    <li style="list-style-type:none">
        <ul>
            <li>Added filter to software for Windows computers</li>
            <li>Added more info about user password from AD</li>
            <li>Changed how tables are generated</li>
            <li>Fixed bug when search string on front page is empty</li>
            <li>Fixed error handler</li>
        </ul>
    </li>
    <li>
        2020-01-29
    <li style="list-style-type:none">
        <ul>
            <li>Changed home link to logo</li>
            <li>AAU logo is now from a secure connection</li>
        </ul>
    </li>
    <li>
        2020-01-06
    <li style="list-style-type:none">
        <ul>
            <li>Added a button on the front page for requsting new features or reporting an issue</li>
            <li>Added error message when a user is not found in Service Manager</li>
            <li>Added a form to enable users from AD in the task tab</li>
            <li>Added Java lincence Error message</li>
            <li>Managed by can now be deleted by entering an empty string when editing it</li>
            <li>User and computer lookups now displays an error for the data that is cannot get insted of crashing</li>
        </ul>
    </li>
    <li>
        2019-12-03
    <li style="list-style-type:none">
        <ul>
            <li>Added a password expired warning to Windows computers</li>
            <li>It now adds an entry to the log when a computer is added to an AD group</li>
            <li>Fixed bug in the latest search list</li>
            <li>Fixed bug in the service mangager tab for a user without any requests</li>
        </ul>
    </li>
    <li>
        2019-11-28
    <li style="list-style-type:none">
        <ul>
            <li>Added a list of last searches</li>
            <li>Added a global search to the front page which can search for both users and computers</li>
            <li>Increased the width og page</li>
            <li>Fixed MissingPCADGroup error</li>
            <li>Added links to the cases from the service manager tab</li>
            <li>Fixed an error with the Windows 7 to 10 computer tab</li>
            <li>Fixed an error with the hardware computer tab</li>
        </ul>
    </li>
    <li>
        2019-11-21
    <li style="list-style-type:none">
        <ul>
            <li>Added errors for computers that run Windows 7 and computers that is neither is a member of cm12_config_AAU10 or cm12_config_Administrativ10</li>
            <li>Sorted cases in the service manager tab for a users more correctly</li>
        </ul>
    </li>
    <li>
        2019-11-14
    <li style="list-style-type:none">
        <ul>
            <li>Added a tab to user info, that show information from Net.aau.dk</li>
            <li>Fixed a bug with the AAURedirector for empty input</li>
        </ul>
    </li>
    <li>
        2019-11-07
    <li style="list-style-type:none">
        <ul>
            <li>Added a reminder about Onedrive to the response when deleting af computer from AD</li>
            <li>Added more tabs to the log statistics</li>
            <li>Added not AUU Mac and custom warnings for Mac</li>
            <li>Fixed by when entering misformed case number in onedrive form</li>
        </ul>
    </li>
    <li>
        2019-10-24
    <li style="list-style-type:none">
        <ul>
            <li>Fixed bug where only basic info was shown when managed by was not set</li>
            <li>Users search is now activated on enter press</li>
        </ul>
    </li>
    <li>
        2019-10-17
    <li style="list-style-type:none">
        <ul>
            <li>Added CSV to email converter</li>
            <li>Added a warning if the user is ADFS locked</li>
            <li>Added a warning if the domain for the computer and the user in "managed by" are different</li>
            <li>Fixed bug when searching for type in log</li>
            <li>Fixed bug when viewing the statistics for the log</li>
            <li>Fixed bug when failed to connect to Spunk</li>
            <li>Fixed bug when failed to connect to calender exchange service</li>
        </ul>
    </li>
    <li>
        2019-10-11
    <li style="list-style-type:none">
        <ul>
            <li>Fixed bug when getting malformed data from Spunk</li>
        </ul>
    </li>
    <li>
        2019-10-10
    <li style="list-style-type:none">
        <ul>
            <li>Added a ADFS locked	field to user info</li>
            <li>Updated the backend to .NET Core 3.0</li>
        </ul>
    </li>
    <li>
        2019-10-03
    <li style="list-style-type:none">
        <ul>
            <li>Fixed a bug when searcing for a computer with letters after AAU</li>
            <li>Fixed a bug when MODTAGELSESDATO was not set in INDB</li>
            <li>Fixed a bug in the computer information tab for a user</li>
        </ul>
    </li>
    <li>
        2019-09-26
    <li style="list-style-type:none">
        <ul>
            <li>Fixed a bug where Software info for a Windows computer repeatedly listed the first program</li>
            <li>Fixed a bug that occured when searching for a email address in computer info</li>
        </ul>
    </li>
    <li>
        2019-09-19
    <li style="list-style-type:none">
        <ul>
            <li>Added a tab to show information from INDB</li>
            <li>Search for a computer now shows if the computer has not been registrered in AD or Jamf, but was found in INDB</li>
        </ul>
    </li>
    <li>
        2019-09-11
    <li style="list-style-type:none">
        <ul>
            <li>The computer information for a user does now also shows Mac computers</li>
        </ul>
    </li>
    <li>
        2019-09-09
    <li style="list-style-type:none">
        <ul>
            <li>Fixed a concurrency issue that caused multiple pages to return the error page</li>
            <li>Fixed a bug in the user search bar</li>
            <li>Fixed a bug that occured when searching for a user that is disabled</li>
        </ul>
    </li>
    <li>
        2019-09-03
    <li style="list-style-type:none">
        <ul>
            <li>Changed not found in SCCM message to a warning</li>
            <li>Print now shows department</li>
            <li>Fixed error page</li>
            <li>Fixed error with users that has a computer that not can be found in AD</li>
        </ul>
    </li>
    <li>
        2019-08-30
    <li style="list-style-type:none">
        <ul>
            <li>The buttons to set a computers PCConfig to AAU10 or Adminstativ10 is now working</li>
            <li>Fixed http error 500 when searching for user that were disabled in AD</li>
            <li>Moved the information from SCCM Info and Inventory tabs for a computer to more tabs (SCCM Info, SCCM Collections, Software info, Raw data (SCCM))</li>
            <li>Added support for searching for Mac computers in computer info</li>
            <li>Onedrive form now shows an error when you try to ad a guest</li>
            <li>Onedrive status for a user now shows if the user is setup to Onedrive, but do not have any computer that is setup to Onedrive</li>
        </ul>
    </li>
    <li>
        2019-08-29
    <li style="list-style-type:none">
        <ul>
            <li>Corrected misleading text in user basic info from Password Expired to Account locked</li>
            <li>Added form to add an additional computer to Onedrive under the task tab for the computer</li>
        </ul>
    </li>
    <li>
        2019-08-27
    <li style="list-style-type:none">
        <ul>
            <li>The buttons to set a computers PCConfig to AAU10 or Adminstativ10 has temporarily been removed because they were not working on the server. (They are working when they are tested them locally. A posible solution to this issue will be released by Microsoft in the end of september)</li>
            <li>The enable bitlocker button have been removed since it is not usefull anymore</li>
            <li>Added primary leader to basic info for user</li>
            <li>Added change ManagedBy to the log</li>
        </ul>
    </li>
    <li>
        2019-08-23
    <li style="list-style-type:none">
        <ul>
            <li>Front page layout</li>
            <li>Added a form to user tasks to disable the user from AD</li>
            <li>Fixed bug when changing managed by</li>
        </ul>
    </li>
    <li>
        2019-08-22
    <li style="list-style-type:none">
        <ul>
            <li>Moved changelog to menu</li>
            <li>Added list of know issues to front page</li>
            <li>Added Added statistics to the log</li>
            <li>Fixed bug with case number in Onedrive form</li>
        </ul>
    </li>
    <li>
        2019-08-21
    <li style="list-style-type:none">
        <ul>
            <li>Added basic info to description on create the new IR or SR form</li>
            <li>Added validation on case number field in the OneDrive form</li>
            <li>Added options to filter and search the log</li>
            <li>Users can now be found by seaching for thier AAUID</li>
        </ul>
    </li>
    <li>
        2019-08-20
    <li style="list-style-type:none">
        <ul>
            <li>WebMgmt does now always show the non obsolete computer object from SCCM, when the computer have been reinstalled</li>
        </ul>
    </li>
    <li>
        2019-08-19
    <li style="list-style-type:none">
        <ul>
            <li>Added popup for Internet Explorer users, because Internet Explorer is not supported by WebMgmt</li>
            <li>Added buttons under task for computer for adding the computer to the Administrativ10 PC or AAU10 PC group if it is not in any of them</li>
        </ul>
    </li>
    <li>
        2019-08-16
    <li style="list-style-type:none">
        <ul>
            <li>Added a button for removing a computer from AD under Tasks</li>
            <li>Removed Defendpoint challenge</li>
        </ul>
    </li>
    <li>
        2019-08-15
    <li style="list-style-type:none">
        <ul>
            <li>Better error messages for some taks</li>
            <li>Users can now be found by searching on their name</li>
            <li>Added warning for when PC Config is not set on new computers</li>
            <li>Added a warnings for the computers in the Computer Information tab for User, when the user uses Onedrive and the computer does not</li>
        </ul>
    </li>
    <li>
        2019-08-13
    <li style="list-style-type:none">
        <ul>
            <li>Added button under User -> Task for adding user and computer to Onedrive groups</li>
            <li>ToggleRoaming now shows current status</li>
            <li>Calendar tab now shows current availability</li>
        </ul>
    </li>
    <li>
        2019-08-12
    <li style="list-style-type:none">
        <ul>
            <li>Get password button works now </li>
            <li>Members of platform can now see the log of what you are doing on WebMgmt </li>
            <li>Fixed a bug in Windows 7 to 10 upgrade form for users that had a computer where a name in AD and SCCM were different</li>
            <li>Fixed a bug were the user/computer changed before pressing search</li>
        </ul>
    </li>
    <li>
        2019-08-07
    <li style="list-style-type:none">
        <ul>
            <li>Fixed a bug when a new SR where created from WebMgmt </li>
            <li>Added a tab uder User to quickly create a SR for upgrading from Windows 7 to 10 </li>
        </ul>
    </li>
    <li>
        2019-08-05
    <li style="list-style-type:none">
        <ul>
            <li>Added field that shows if a computer uses Onedrive</li>
        </ul>
    </li>
    <li>
        2019-06-27
    <li style="list-style-type:none">
        <ul>
            <li>Added field that shows if a user uses Onedrive</li>
            <li>Fixed AAURedirector</li>
        </ul>
    </li>
    <li>
        2019-06-26
    <li style="list-style-type:none">
        <ul>
            <li>Added AAU icon</li>
            <li>Fixed a bug that made it crash when the cashe expired</li>
            <li>Fixed a bug that made it crash when searching for users or computers that does not exist</li>
        </ul>
    </li>
    <li>
        2019-06-21
    <li style="list-style-type:none">
        <ul>
            <li>Fixed crash when searching for a computer or user that does not exist</li>
            <li>Fixed bug in group view. Recursive members is now show currectly</li>
            <li>Task button have now been tested and are ready for use</li>
        </ul>
    </li>
    <li>
        2019-06-13
    <li style="list-style-type:none">
        <ul>
            <li>WebMgmt 2.0 is now open for beta test</li>
            <li>Access to more services: print, service manager, defendpoint and ADMdb</li>
            <li>Bug fixes</li>
            <li style="list-style-type:none">
                <ul>
                    <li>Fileshares and exchanges is now shown correctly</li>
                    <li>Get admin password button now works</li>
                    <li>Fixed crash when building from Pure was not set</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        2019-06-03
    <li style="list-style-type:none">
        <ul>
            <li>New backend for WebMgmt</li>
            <li>Added print info</li>
            <li>Tabs now load individually for faster load times</li>
        </ul>
    </li>
    <li>
        2019-03-05
    <li style="list-style-type:none">
        <ul>
            <li>Added fileshare view</li>
        </ul>
    </li>
    <li>
        2019-03-04
    <li style="list-style-type:none">
        <ul>
            <li>Now UserInfo searches on proxyAddress and UPN</li>
        </ul>
    </li>
    <li>
        2019-02-27
    <li style="list-style-type:none">
        <ul>
            <li>Managed By can now be set on computers from webmgmt</li>
        </ul>
    </li>
    <li>
        2019-02-01
    <li style="list-style-type:none">
        <ul>
            <li>Inventory details added for computer</li>
        </ul>
    </li>
</ul>