@{
    ViewData["Title"] = "Home Page";
}

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="ui segment">
        <div class="ui right internal attached rail" style="margin-top:50px;">
            <div class="ui segment" style="">
                <h3>Nyheder</h3>
                <ul>
                    <li>
                        2019-06-13 -  Now open for beta test, access to more services: print, service manager, defendpoint and ADMdb. Bug fixes: fileshares and exchanges is now shown correctly, get admin password button now works, null check for building from Pure
                        <br /><br />
                    <li>
                        2019-06-03 -  New backend for WebMgmt, added print info and tabs now load individually for faster load times
                        <br /><br />
                    <li>
                        2019-03-05 -  Added fileshare view
                        <br /><br />
                    <li>
                        2019-03-04 -  Now UserInfo searches on proxyAddress and UPN
                        <br /><br />
                    <li>
                        2019-02-27 -  Managed By can now be set on computeres from webmgmt
                        <br /><br />
                    <li>
                        2019-02-01 -  Inventory details added for computer
                        <br /><br />
                </ul>
            </div>
        </div>
        <h1>ITSWebMgmt</h1>

        <a class="item" asp-area="" asp-controller="User" asp-action="Index">User Info</a><br />
        <a class="item" asp-area="" asp-controller="Computer" asp-action="Index">Computer Info</a><br />
        <a class="item" asp-area="" asp-controller="DefendpointChallengeResponse" asp-action="Index">Defendpoint</a><br />
        <br /><br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /><br />
    </div>
    <div class="ui segment">
        Du kan bidrage til udviklingen af Webmgmt på siden <a href="https://github.com/AAUITSPlatform/AAUWebMgmt">github.com/AAUITSPlatform/AAUWebMgmt</a>
    </div>

</asp:Content>