@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The following error occurred while processing your request:</h2>
@Model.Error.Error.Message
<p>
    A description of the error have been sent to the developer
</p>
