@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An unexpected error occurred while processing your request</h2>
<p>
    A detailed description of the error have been sent to the developer (Mathias Svendsen - student employee at ITS Platform)<br />
    If the problem not have been fixed within 3 weeks, contact the developer at <a class="mail" href="mailto:mhsv16@its.aau.dk">e-mail</a>
</p>
