@model ITSWebMgmt.Models.PartialGroupModel

<h2>@Model.Title</h2>
<div id="group">
    <div class="ui two item menu">
        <a data-tab="groups-direct" class="item">Direct</a>
        <a data-tab="groups-all" class="item">Recursive</a>
    </div>
    <div class="ui active tab segment" data-tab="groups-direct">
        @Html.Partial("TableView", Model.GroupTable)
    </div>
    <div class="ui tab segment" data-tab="groups-all">
        @Html.Partial("TableView", Model.GroupAllTable)
    </div>
</div>
<script>
    $('#group > .menu .item').tab({ history: false });
</script>