@using System.Web;
@model ITSWebMgmt.Models.ManagedByModel

<td>Managed By:</td>
<td>
    <div id="editDiv">
        <label id="managedBy">
            @if (Model.ManagedByADPath.Length != 0)
            {
                <a href="/Home/Redirector?ADPath=@Model.ManagedByADPath">@Model.ManagedByDomainAndName</a>
            }
            else
            {
                <text>None</text>
            }
        </label>
        <button id="btnEdit" style="float:right">Edit</button>
    </div>
    <div id="saveDiv" style="display:none;">
        <input type="text" id="inputText" />
        <button id="btnSave" style="float:right">Save</button>
    </div>

    <script>
        let noneToken = "None";
        $("#btnEdit").click(function () {
            document.getElementById('editDiv').style.display = "none";
            document.getElementById('saveDiv').style.display = "block";
            let managedByName = document.getElementById('managedBy').textContent.trim();
            if (managedByName != noneToken) {
                document.getElementById('inputText').value = managedByName;
            }
            else {
                document.getElementById('inputText').value = "";
            }
        });
        $("#btnSave").click(function () {
            var email = $('#inputText').val();
            var data = email + '|' + '@HttpUtility.JavaScriptStringEncode(Model.ADPath)' + '|' + '@HttpUtility.JavaScriptStringEncode(Model.ManagedByADPath)';

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveEditManagedBy", "ManagedBy")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "json",
                success: function () {
                    document.getElementById('editDiv').style.display = "block";
                    document.getElementById('saveDiv').style.display = "none";
                    document.getElementById('managedBy').textContent = email;
                    if (email != "") {
                        alert('Managed by changed succesfully to ' + email)
                    }
                    else {
                        alert('Managed by succesfully deleted')
                        document.getElementById('managedBy').textContent = noneToken;
                    }
                },
                error: function(response) {
                    var r = JSON.parse(response.responseText)
                    alert(r.errorMessage);
                }
            });
        });
    </script>
</td>