@model ITSWebMgmt.Models.TableModel
@if (Model.ViewHeading != null)
{
    <h2>@Model.ViewHeading</h2>
}
@if (Model.Rows != null)
{
    @if (Model.Headings != null)
    {
        <table class="ui celled table">
            <thead>
                <tr>
                    @foreach (string h in Model.Headings)
                    {
                        <th>@h</th>
                    }
                </tr>
            </thead>
            @await Html.PartialAsync("TableBodyView", Model)
        </table>
    }
    else
    {
        @await Html.PartialAsync("TableBodyView", Model)
    }
}
else
{
    <p>@Model.ErrorMessage</p>
}