@model ITSWebMgmt.Models.WindowsComputerModel

<h2>Hardware infomation</h2>
<h3>RAM</h3>
@Html.DisplayFor(model => model.SCCMRAM)
<h3>Processor</h3>
@await Html.PartialAsync("TableView", Model.SCCMProcessor)
<h3>Video controller</h3>
@await Html.PartialAsync("TableView", Model.SCCMVC)
<h3>BIOS</h3>
@await Html.PartialAsync("TableView", Model.SCCMBIOS)
<h3>Logical Disk</h3>
@await Html.PartialAsync("TableView", Model.SCCMLD)
<h3>Disk</h3>
@await Html.PartialAsync("TableView", Model.SCCMDisk)
