@model ITSWebMgmt.Models.WindowsComputerModel
<h3>Computer (SCCMRawTable)</h3>
@await Html.PartialAsync("Windows/SCCMRawTable", new RawSCCMModel(Model.Computer, "Computer information not found"))
<h3>System (SCCM Info)</h3>
@await Html.PartialAsync("Windows/SCCMRawTable", new RawSCCMModel(Model.System, "Computer not found i SCCM"))
