@model ITSWebMgmt.Models.WindowsComputerModel

<h2>SCCM Info</h2>
<h3>Computer Details</h3>
@await Html.PartialAsync("TableView", Model.SCCMInfoComputer)
<h3>System info</h3>
@await Html.PartialAsync("TableView", Model.SCCMInfoSystem)
